html {
  font-size: 100%;

  /*  Scales by 1px for every 100px from 600px onwards */
  @media (min-width: 600px) {
    font-size: calc(112.5% + 4 * (100vw - 600px) / 400);
  }

  /*  Sets font-size to 22px after a viewport of 1000px */
  @media (min-width: 1000px) {
    font-size: calc(137.5%);
  }
}
/* technical classes */
._main-container {
  margin: auto;
  max-width: 1200px;
  font-size: 1rem;
  /* font-family: "Roboto", sans-serif; */
  /* padding-top: 50px; */
}
._center {
  display: flex;
  justify-content: center;
  align-items: center;
}
._comumn {
  flex-direction: column;
}
/* main css */
.separator {
  background-color: rgb(112, 79, 189);
  height: 2px;
  width: 100%;
  margin: 50px 0px;
}
.section-title {
  font-size: 25px;
}
/* ======================== */
.color-changer {
  width: 30rem;
  height: 30rem;
  background-color: black;
  margin: 0px 5vw;
  border: 1px dotted black;
  flex-direction: column;
}
.change-col-btn {
  width: 7rem;
  height: 2rem;
  background-color: cornflowerblue;
  border-radius: 1px;
  margin-bottom: 5vw;
}
.second-color {
  background-color: white;
}
/* ======input====== */
.text {
  color: rgb(12, 12, 12);
  background-color: rgb(116, 192, 116);
}
.wrong-text {
  outline: red solid 3px;
  border: 1px solid red;
  background-color: rgb(240, 119, 119);
}
/* .valid-text {
  outline: green solid 3px;
  border: 1px solid green;
} */
